*{

    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    /* background:#ffffff; */

}


a{

    text-decoration:none;
    
}

ul{

    list-style:none;
    

}

.container{

   
    max-width:1000px;
    margin:auto;

}

.btn{

    padding:14px 30px;
    background:#1d4ed8;
    color:white;
    border-radius:10px;
    font-weight:600;

}

.btn:hover{

    background:#3365e5;

}


.bar-content{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:28px 60px;
   
}

/* navabr section */




.nav-links{

    display:flex;
    gap:35px;

} 

.nav-links a{

    color:#69696c;
    font-size:16px;
    font-weight:500;

}
/* nav section end  */

/* hero section */


.hero{

    height: 480px;

    background:
        linear-gradient(#051226BF,#051226BF),
        url("./images/banner.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;

}

.hero-content{
    
    text-align:center;
    color:#ffffff;

}

.hero-content h1{

    font-size:60px;
    font-weight:800;
    margin-bottom:25px;

}



.hero-content p{

    max-width:760px;
    margin:0 auto 90px;
    font-size:18px;
    color:#ffffff;

}




.speakers-heading h2{

    font-size:48px;
    font-weight:700;
    color:#000102;
    text-align:center;
    margin:40px;
 

}

.speaker-grid{

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;

}

.speaker-card{

    background:#FFFFFF;
    border:1px solid #EAECF0;
    border-radius:20px;
    overflow:hidden;
   

}

.speaker-card:hover{

    transform:translateY(-8px);
    box-shadow:0 18px 40px #DDE5F4;
    transition:.35s;
}

.speaker-card img{

    width:100%;
    display:block;

}

.speaker-info{

    padding:28px;

}

.track{


    background:#EEF4FF;
    color:#2458F5;
    padding:8px 18px;
    border-radius:30px;
    font-size:14px;
    font-weight:600;
    /* margin-bottom:18px; */

}

.speaker-info h3{

    font-size:28px;
    color:#0D1B2A;
    margin:32px 0px 12px;

}

.speaker-info p{

    color:#575757;

}

/* pricing-section */

.pricing-section{

    padding:100px 0;

}

.pricing-section .section-title{

    text-align:center;
    max-width:650px;
    margin:0 auto 70px;

}

.pricing-section .section-title h2{

    font-size:48px;
    margin:18px 0;
    color:#0D1B2A;

}

.pricing-section .section-title p{

    font-size:18px;
    line-height:30px;
    color:#667085;

}

.pricing-wrapper{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    align-items:center;

}

.price-card{

    position:relative;
    background:#FFFFFF;
    border:1px solid #EAECF0;
    border-radius:20px;
    padding:40px 35px;
    transition:.35s;

}

.price-card:hover{

    transform:translateY(-8px);
    box-shadow:0 18px 35px #E4E7EC;

}

.featured{

    background:#0D1B2A;
    color:#FFFFFF;


}


.price-card h4{

    font-size:24px;
    margin-bottom:12px;

}

.price-card h3{

    font-size:54px;
    margin-bottom:12px;

}

.plan-duration{

    margin-bottom:30px;
    color:#667085;

}


.price-card ul{

    margin-bottom:35px;

}

.price-card ul li{

    margin-bottom:16px;
    line-height:28px;

}


.featured-btn{

    background:#FFFFFF;

    color:#2458F5;

}

.featured-btn:hover{

    background:#e4e2e2;

}




 /* placeholder section (Hackathon)  */

.hackathon{

    padding:10px 0;

    background:#ffffff;
    border:1px solid #EAECF0;
    border-radius:20px;
}

.hackathon-content{

    text-align:center;

    max-width:900px;

    margin:auto;

}

.hackathon .section-tag{

    display:inline-block;

    color:#8EC5FF;

    font-size:14px;

    font-weight:700;

    letter-spacing:2px;

    margin-bottom:18px;

    text-transform:uppercase;

}

.hackathon h2{

    color:#070707;

    font-size:52px;

    margin-bottom:25px;

}

.hackathon p{

    color:#070707;

    line-height:32px;

    font-size:18px;

    max-width:760px;

    margin:0 auto 60px;

}

.stats{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:25px;

    margin-bottom:60px;

}

.stat-card{

    background:#10203A;

    border:1px solid #1F3A63;

    border-radius:18px;

    padding:35px 20px;

}

.stat-card h3{

    color:#FFFFFF;

    font-size:42px;

    margin-bottom:10px;

}

.stat-card span{

    color:#A5B4C7;

    font-size:16px;

}


/* footer section  */

.footer{
    margin-top: 10px;
    background:#0D1B2A;
    
    
}



.footer-left{

    display:flex;
    align-items:center;
    gap:18px;

}


.footer-left p{

    font-size:13px;
    color:#98A2B3;

}

.footer-right{

    display:flex;
    align-items:center;
    gap:18px;

}

.footer-right a{

    color:#98A2B3;
    font-size:13px;
    

}



.footer-social img{

    width:18px;
    height:18px;

}

